<form method="post" action="/home/produce">
    <div class="lCol">
        <textarea class="score" name="score" spellcheck="false">8e2 8#d2 8e2 8#d2 8e2 8b1 8d2 8c2 4a1 8- 8c1 8e1 8a1 4b1 8- 8e1 8#g1 8b1 4c2 8- 8e1 8e2 8#d2 8e2 8#d2 8e2 8b1 8d2 8c2 4a1 8- 8c1 8e1 8a1 4b1 8- 8e1 8c2 8b1 4a1</textarea>
    </div>
    <div class="rCol">
        <h1>Nokia Ringtone Composer</h1>
        <input type="submit" class="btn btn-success" value="Amaze me" />
        <p><br />Get some <a href="http://nokia.nigelcoldwell.co.uk/tunes.html" target="_blank">sample tunes</a>.</p>
    </div>
</form>